{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="jum jum-about">
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
</div>

  <div class="first_spek-box">
    <div class="first_spek-items-top">
        <div class="first-spek-item first_spek-item-tab spek-cell-2">
            <a href="#first_spek-description-tab-1" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="#first_spek-description-tab-2" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="#first_spek-description-tab-3" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-tab-6.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-f spek-cell-2">
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-6.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-f-1"> <img src="{% static 'app/content/img/first_spek-f-7.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-1 spek-cell-2">
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-1-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-1-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-1-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-1-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-1-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-2 spek-cell-2">
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-2-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-2-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-2-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-2-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-2-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-3 spek-cell-1">
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-3-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-3-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-3-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-4 spek-cell-1">
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-4-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-4-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-1-1"> <img src="{% static 'app/content/img/first_spek-4-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-lb spek-cell-2">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-lb-6.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first_spek-item-rb spek-cell-2">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-rb-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-rb-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-rb-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-rb-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-rb-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
    </div>
    <div class="first_spek-items-bottom">
        <div class="first-spek-item first-spek-item-wrap first_spek-item-q spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-q-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-e spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-e-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-s spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-s-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-s-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-z spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-z-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-z-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-z-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-x spek-cell-2">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-x-6.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-c spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-c-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-c-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-v spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-v-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-v-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-w spek-cell-2">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-4.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-5.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-w-6.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-space spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-space-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-space-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-g spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-g-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-g-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
        <div class="first-spek-item first-spek-item-wrap first_spek-item-b spek-cell-1">
            <a href="/" class="first_spek-tab-1"> <img src="{% static 'app/content/img/first_spek-b-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" /> </a>
        </div>
    </div>
  
  </div>


<div class="first_spek-description first_spek-block" id="first_spek-description-tab-1">
    <div class="description-top">
        <img src="{% static 'app/content/img/first_spek-tab-1.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" />
        <div class="descripion-content">
            <div class="description-title">Тёмная луна</div>
            <div class="description-title-text">
                Состояние Тёмная луна на 12с.
                Сопротивление урону и негативным эфектам на 1с.
                Полностью востанавливает Ци
            </div>
        </div>
    </div>
    <div class="description-bottom">
        При использовании приема Лунный ворон отменяется состояние Тёмная луна
        В состоянии Темная луна недоступна Невидемость
        В состоянии Темная луна при расходе Знаков тени создается эффект Затмения
        В состоянии Темная луна шанс крит. атаки и крит урон + 50%
        В состоянии Темная луна увеличение спец. урона на 10%
        В состоянии Темная луна Кража жизни наносит доп. урон в размере 100% от силы атаки
        Нельзя сбросить перезарядку приема

        Дистанция: вокруг персонажа
        Зона: 3м
        Подготовка: мгновенно
        Перезарядка: 1 минута
    </div>
</div>

<div class="first_spek-description first_spek-block" id="first_spek-description-tab-2">
    <div class="description-top">
        <img src="{% static 'app/content/img/first_spek-tab-2.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" />
        <div class="descripion-content">
            <div class="description-title">Порыв лесного ветра</div>
            <div class="description-title-text">
                Наносит 5027 - 5188 ед. урона
                При успехе атаки подбрасывает в воздух
            </div>
        </div>
    </div>
    <div class="description-bottom">
        Дистанция: вокруг персонажа
        Зона: цель
        Подготовка: мгновенно
        Перезарядка: 18 секунд
    </div>
</div>

<div class="first_spek-description first_spek-block" id="first_spek-description-tab-3">
    <div class="description-top">
        <img src="{% static 'app/content/img/first_spek-tab-3.png ' %}" alt="skill" class="spek-img-size" width="50" height="50" />
        <div class="descripion-content">
            <div class="description-title">Невидимость</div>
            <div class="description-title-text">
                Выводит из состояния Оглушения, Ослабления, Опрокидывания, Обморока, Захвата, Пленения, Подавления и Ледяной клетки
            </div>
        </div>
    </div>
    <div class="description-bottom">
        Во время использования приёма сопротивление урону и негативным эффектам
        После использования сопротивление урону и негативным эффектам на 0.5 с.
        Перемещает назад на 8 м
        При использовании невидимость на 6 с.
        Если враг поражён эффектом Вспышка, ослепляет на 5 с.
        Если враг поражён эффектом Вспышка, скорость врага -50% на 5 с.
        Игнорирует отбивание и защиту

        Дистанция: вокруг персонажа
        Зона: 3 м
        Подготовка: мгновенно
        Перезарядка: 36 секунд
    </div>
</div>

{% endblock %}
